<div class='sm-container confirmation'>
  <h3>Booked!</h3>
  <%= @slot.date.strftime("%m/%d") %>, <%= @slot.start_time.strftime("%H:%M") %>-<%= @slot.end_time.strftime("%H:%M") %>
  <p><strong>Reminder...</strong></p>
  <p>Once an appointment has been made, requests for a change or cancellation must be made
     at least 2 hours in advance. During pair sessions, DBC's Code of Conduct are still applied!
     Repeat offenders will face strict consequences.</p>
</div>
