/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .topics {
 	border-style: solid;
 	border-color: black;
 	width: 70%;
 	text-align: center;
 }

 .topics-div {
 	border-style: solid;
 	border-color: black;
 	width: 18%;
 	text-align: center;
 }

.leaderboard {
	float: left;
	margin-left: 2%;
	width: 30%;
/*	border-style: solid;
	border-color: black;
	padding: 4px 4px 4px 4px;*/
}

.mentor {
	float: left;
}

.mentors {
	border-style: solid;
	border-color: black;
}

.mentees {
	border-style: solid;
	border-color: black;	
}

.mentor-score {
/*	float: right;*/
}

.mentor_name {
	text-align: center;
}

.see-details-button {
	text-align: center;
}

 .slots {
 	float: left;
 	width: 23%;
/* 	column-count: 2;*/
 }

.slot {
	border-color: black;
	border-style: solid;
	float: left;
	width: 155px;
}

 .slot:hover {
 	border-color: red; 
 }

.username {
/*	float: left;*/
}
