.body {
  background-color: #f6f6f6;
}

.button {
  background-color: #19ABB5;
  width: 5%;
  font-style: none;
  border: 1px solid #828c91;
  padding: .25em;
  margin-bottom: 1em;
  color: white;
}

#new-user-head {
  font-size: 2.4em;
}

.sm-container{
  margin: 0 auto;
  width: 500px;
  border: 1px solid #19ABB5;
  margin-top: 100px;
  padding: 20px;
  color: black;
}

.sm-container h1, h2, h3, h4, h6{
  text-align: center;
  margin-bottom: 6%;
  color: #19ABB5;
}

.sm-container form{
  text-align: center;
}

.sm-container form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
  font-size: 1.1em;
  font-style: italic;
  width: 40%;
}
